@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-item { width: 200px; }

.grid-item--width2 { width: 400px; }

.grid-item--width3 { width: 600px; }

.grid-item--width4 { width: 800px; }

.grid-item--height2 {
    height: 200px;
  }
  .grid-item--height3 {
    height: 260px;
  }
  .grid-item--height4 {
    height: 360px;
  }